body {
  background-color: #EEEEEE;
  margin: 0;
  width: 100%
}

.like {
  display: inline-block;
  height: 18px;
  margin: auto;
  position: relative;
  width: 20px;
}

.share {
  display: inline-block;
  height: 15px;
  width: 20px;
}

.social {
  display: inline-block;
  left: 200px;
  position: relative;
}

.video_info {
  border-bottom: 1px gray solid;
  border-top: 10px #EEEEEE;
  padding: 30px;
}

.channel_info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  left: 30px;
  position: relative;
  top: 10px;
}

.avatar {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 1;
  width: 65px;
}

.chinfo {
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 1;
  margin-left: 0;
  padding: 0;
  position: relative;
  resize: inherit;
  top: -10px;
}

.sub {
  grid-column-end: 4;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-row-start: 1;
  position: relative;
  top: 20px;
}

.up-next {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 40px;
}

.next-card {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 8px;
}

.next-card-details p {
  margin: 0;
  margin-left: 8px;
  overflow: hidden;
  width: 250px;
}

.nc1 {
  color: gray;
  font-size: 12px;
  padding-top: 15px;
}

.nc2 {
  color: gray;
  font-size: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

.item1 {
  background-color: white;
  grid-column-end: 5;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  padding: 10px;
  vertical-align: middle;
}

.item2 {
  background-color: white;
  grid-column-end: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-row-start: 2;
  margin: 35px 10px 10px 10px;
}

.item3 {
  background-color: white;
  grid-column-start: 4;
  grid-row-end: 10;
  grid-row-start: 2;
  margin-top: 35px;
}

.item4 {
  background-color: white;
  font-family: 'YouTube Noto', Roboto, arial, sans-serif;
  font-size: 12px;
  grid-column-end: 4;
  grid-column-start: 1;
  grid-row-start: 5;
  margin: 10px;
  padding: 20px;
  position: relative;
  top: -80px;
}

nav {
  height: 60px;
  text-align: center;
}

.video {
  padding: 20px;
}

.searchbutton {
  background-color: #f8f8f8;
  border: solid lightgray 1px;
  display: inline-block;
  margin: auto;
  padding: 0;
  position: absolute;
  top: 25px;
}

.srchbx {
  height: 42px;
}

.searchbox {
  background-color: white;
  display: inline-block;
  height: 35px;
  margin: auto auto auto 200px;
  position: relative;
  top: 15px;
  vertical-align: middle;
  width: 600px;
}

.icons {
  display: inline-block;
  justify-content: space-around;
  padding-left: 150px;
}

.icons>img {
  margin: auto;
  padding-left: 20px;
  position: relative;
  top: 10px;
  vertical-align: middle;
}

.logo {
  left: 40px;
  position: relative;
  top: 10px;
  vertical-align: middle;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: normal;
}

.views {
  color: gray;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  margin-top: 15px;
}

.subscriber_count {
  color: gray;
  padding: 0;
  font-size: 12px;
}
