body {
  background-color: #EEEEEE;
  margin: 0;
  width: 100%
}

.like {
  display: inline-block;
  height: 18px;
  margin: auto;
  position: relative;
  width: 20px;
}

.share {
  display: inline-block;
  height: 15px;
  width: 20px;

}

.social {

  display: inline-block;
  left: 200px;
  position: relative;

}

.video_info {
  border-bottom: 1px gray solid;
  border-top: 10px #EEEEEE;
  padding: 30px;

}

.channel_info {
  display: grid;
  grid-template-columns: 3 auto;
  grid-template-rows: 2 auto;
  left: 30px;
  position: relative;
  top: 10px;
}

.avatar {

  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 1;
  width: 65px;
}

.chinfo {

  grid-column-start: 2;
  grid-row-end: 3;

  grid-row-start: 1;
  left: -140px;
  margin-left: 0;
  padding: 0;
  position: relative;
  resize: inherit;
  top: -10px;

}

.sub {
grid-column-end: 4;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-row-start: 1;

  position: relative;
  top: 20px;
}

.up-next {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 40px;
}

.next-card {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 8px;
}

.next-card-details p {
  margin: 0;
  margin-left: 8px;
  overflow: hidden;
  width: 250px;
}

.nc1 {
  color: gray;
  font-size: 12px;

  padding-top: 15px;
}

.nc2 {
  color: gray;
  font-size: 12px;


}

.grid-container {
  display: grid;
  grid-template-columns: 4 auto;
  grid-template-rows: 20 auto;
}

.item1 {

  background-color: white;

  grid-column-end: 5;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  padding: 10px;
  vertical-align: middle;
}

.item2 {
  background-color: white;
  grid-column-end: 4;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-row-start: 2;
  margin: 35px 10px 10px 10px;
}

.item3 {
  background-color: white;
  grid-column-start: 4;
  grid-row-end: 10;
  grid-row-start: 2;
  margin-top: 35px;
}

.item4 {
  background-color: white;
  font-family: 'YouTube Noto', Roboto, arial, sans-serif;
  font-size: 12px;
  grid-column-end: 4;
  grid-column-start: 1;
  grid-row-start: 5;
  margin: 10px;
  padding: 20px;
  position: relative;
  top: -80px;
}

nav {
  height: 60px;
  text-align: center;
}

.video {

  padding: 20px;
}

.searchbutton {
  background-color: #f8f8f8;
  padding: 0;
  margin: auto;
  display: inline-block;
  position: absolute;
  top: 25px;
  border: solid lightgray 1px;
}

.srchbx {
  height:42px;
}

.searchbox {
  background-color: white;
  height: 35px;
  width: 600px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  margin-left: 200px;
  position: relative;
  top: 15px;
}

.icons {
  display: inline-block;
  padding-left: 150px;
  justify-content: space-around;
}

.icons>img {
  padding-left: 20px;
  margin: auto;
  vertical-align: middle;
  position: relative;
  top: 10px;
}

#logo {
  vertical-align: middle;
  position: relative;
  top: 10px;
  left: 40px;
}

h1 {
  font-weight: normal;
  font-family: 'YouTube Noto', Roboto, arial, sans-serif;
  width: 75%;
  font-size: 22px;
  line-height: normal;
  word-wrap: break-word;
  border-width: 0px;
  border-style: none;
  margin: 0px;
  padding: 0px;
  border-color: white;
}

#views {
  font-family: 'YouTube Noto', Roboto, arial, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: gray;
  margin: 0px;
  padding-top: 15px;
  display: inline-block;
}

#subscriber_count {
  color: gray;
  size: 12px;
  padding: 0;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: url('http://archive.fo/Bss88/0ae24c3f861dfb8b5e6d34d180de4dae49e3d2e4.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: url('http://archive.fo/Bss88/714188ede1667c787c99fd5b260d81bcf0ef11bd.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url('http://archive.fo/Bss88/49e0f3d32666ac36205f84ac7457030ca0a9d95f.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url('http://archive.fo/Bss88/754d9eaa4a009c42e8d6d40c632a1dad6d44ec21.ttf') format('truetype');
}
