body {
  background-color: #EEEEEE;

}

.like {
    height: 25px;
    width: 25px;
    margin: auto;
}

.share {
    height: 25px;
    width: 25px;
}

#video_info {
    border-bottom: 1px gray solid;
}

#channel_info {
    display:inline;
}

.up-next {
  display: flex;
  flex-flow: column nowrap;
  padding: 0px 40px;
}

.next-card {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 8px;
}

.next-card-details p {
  margin: 0px;
  margin-left: 8px;
  overflow: hidden;
  width: 250px;
}
.nc1 {
  font-size: 12px;
  color: gray;
  padding-top: 15px;
}
.nc2 {
  font-size: 12px;
  color: gray;
}

.grid-container {
  display: grid;
  grid-template-columns: 4 auto;
  grid-template-rows: 20 auto;
  padding: 10px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: black;
}

.item2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
}

.item3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;

}

.item4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;

}

nav {
  vertical-align: middle;
}

#video {
  margin:auto;
  padding:70px;
}
